In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [4]:
balance_data=pd.read_csv('Decision_Tree_ Dataset.csv',sep=',',header=0)

In [5]:
print(balance_data)

       1      2    3     4    sum Unnamed: 5
0    201  10018  250  3046  13515        yes
1    205  10016  395  3044  13660        yes
2    257  10129  109  3251  13746        yes
3    246  10064  324  3137  13771        yes
4    117  10115  496  3094  13822        yes
..   ...    ...  ...   ...    ...        ...
995  413  14914  523  4683  20533         No
996  359  14423  927  4838  20547         No
997  316  14872  613  4760  20561         No
998  305  14926  897  4572  20700         No
999  168  14798  834  4937  20737         No

[1000 rows x 6 columns]

In [6]:
balance_data.describe()

                1            2            3            4           sum
count  1000.00000   1000.00000  1000.000000  1000.000000   1000.000000
mean    294.34300  12465.88400   528.042000  4027.011000  17315.280000
std     115.81539   1440.15617   259.796059   565.164179   1589.943875
min     100.00000  10005.00000   100.000000  3003.000000  13515.000000
25%     195.00000  11201.50000   302.000000  3545.000000  16073.750000
50%     289.50000  12450.00000   516.500000  4041.500000  17383.000000
75%     398.00000  13678.25000   753.500000  4507.000000  18595.250000
max     500.00000  14996.00000   997.000000  5000.000000  20737.000000

In [7]:
print("dataset length :",len(balance_data))

dataset length : 1000

In [8]:
print("dataset length :",balance_data.shape)

dataset length : (1000, 6)

In [9]:
balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [10]:
X=balance_data.values[:, 1:5]
Y=balance_data.values[:,0]
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)
clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,
            max_depth=3,min_samples_leaf=5)
clf_entropy.fit(X_train,y_train)

ValueError: Unknown label type: 'unknown'